* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.container h5 {
  font-family: Lexend;
  font-size: 24px;
  font-weight: 600;
  padding-top: 100px;
  color: #eb638b;
  text-align: center;
}

/* Contact Section */

.container h2 {
  font-family: Inter;
  font-size: 59.04px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.formGroup{
  display: flex;
  gap:10px;
}

.formGroup input {
  margin-bottom: 5px;
}

.btn {
  text-wrap: nowrap;
  margin-bottom: 20px;
  width: 100%;
  color: black;

}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  .formGroup  {
    flex-direction: column;
  }
  .formGroup input {
   width: 97%;
  }
  .container h2{
    font-size: 42px;
  }
  .get-p{
    width: 00%;
  }

}